*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#f1f1f1;
font-family:Arial, sans-serif;
padding:20px;
}

.visa-form{
width:1000px;
margin:auto;
background:white;
padding:25px;
border:1px solid #bcbcbc;
}

.header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.header h1{
font-size:60px;
color:#0b2f73;
margin-bottom:10px;
}

.header p{
font-size:18px;
}

.header-line{
width:620px;
height:2px;
background:#0b2f73;
margin-top:15px;
}

.photo-box{
width:160px;
height:190px;
border:1px solid #444;
text-align:center;
display:flex;
flex-direction:column;
justify-content:center;
font-size:14px;
}

.top-grid{
display:grid;
grid-template-columns:38% 62%;
gap:10px;
margin-bottom:10px;
}

.blue-title{
background:#0b2f73;
color:white;
padding:8px 12px;
font-weight:bold;
}

.official-section{
border:1px solid #999;
}

.field-row{
display:flex;
align-items:center;
gap:10px;
padding:12px;
}

.fill-line{
flex:1;
border-bottom:1px solid #000;
}

.visa-type-section{
border:1px solid #999;
}

.visa-heading{
padding:10px 15px;
font-weight:bold;
}

.visa-heading span{
font-weight:normal;
}

.visa-options{
display:grid;
grid-template-columns:repeat(3,1fr);
padding:15px;
gap:15px;
}

.section-title{
background:#0b2f73;
color:white;
padding:8px 12px;
margin-top:10px;
font-weight:bold;
}

table{
width:100%;
border-collapse:collapse;
table-layout:fixed;
}

td{
border:1px solid #999;
height:55px;
padding:10px;
vertical-align:top;
font-size:14px;
}

.declaration{
border:1px solid #999;
padding:20px;
line-height:1.6;
}

.signature-row{
display:flex;
justify-content:space-between;
border:1px solid #999;
border-top:none;
padding:20px;
}

.note-section{
border:1px solid #999;
margin-top:10px;
padding:15px;
}

.note-section ul{
columns:2;
margin-top:10px;
padding-left:20px;
}

input[type="checkbox"]{
margin-right:6px;
}

@media(max-width:1024px){


.visa-form{
    width:100%;
}

.header{
    flex-direction:column;
    gap:20px;
}

.top-grid{
    grid-template-columns:1fr;
}

.signature-row{
    flex-direction:column;
    gap:20px;
}

.visa-options{
    grid-template-columns:1fr;
}

.note-section ul{
    columns:1;
}


}
