.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    border: 1px solid black;
    
}
.top-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.content{
    margin-top: 60px;
}